

.button {
    
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    
    
    
}
.button i {
    font-size: 50px;
    color: white;
    
    
}
#container:hover {
    color: #666;
}

button:hover {
    box-shadow: 5px 5px 50px;
    cursor: pointer;
    color: #666;
    
}
button i:hover {
    color: #666;
}