.large {
    width: 800px;
    height: 800px;
    background-color: burlywood;
    position: relative;
}

.small {
    width: 300px;
    height: 300px;
    margin: 0;
    background-color: darkcyan;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
